nav {
  background-color: #333; /* Couleur de fond de la navbar */
  display: flex;
  justify-content: space-between; /* Place les éléments au début, au milieu et à la fin de la navbar */
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}


li {
  margin-right: 20px; /* Espacement entre les éléments de la navbar */
  position: relative;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}

a:hover {
  background-color: #555; /* Couleur de fond au survol des liens */
}

button {
  color: white;
  background-color: #cc0000; /* Couleur du bouton de déconnexion */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0000; /* Couleur de fond au survol du bouton de déconnexion */
}
