<h2>Liste des tournois</h2>
<form [formGroup]="searchForm" (ngSubmit)="getTournois()">
  <label for="name">Nom du tournoi :</label>
  <input type="text" id="name" formControlName="name">


  <p-multiSelect [options]="tournamentCategories" formControlName="category"></p-multiSelect>


  <p-multiSelect [options]="tournamentStatus" formControlName="status"></p-multiSelect>

  <label for="womenOnly">Femmes uniquement :</label>
  <input type="checkbox" id="womenOnly" formControlName="womenOnly">

  <button type="submit">Rechercher</button>
</form>

<table *ngIf="tournaments">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Location</th>
    <th>Catégories</th>
    <th>Elo</th>
    <th>Statut</th>
    <th>Fin des inscriptions</th>
    <th>Joueurs</th>
    <th>Détail</th>
    <th>Supprimer</th>
    <th>S'inscrire/Désinscrire</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tournament of tournaments">
    <td>{{ tournament.name }}</td>
    <td>{{ tournament.location }}</td>
    <td>{{ tournament.categories?.join(', ') }}</td>
    <td>{{ tournament.eloMin }} - {{tournament.eloMax}}</td>
    <td>{{ tournament.status }}</td>
    <td>{{ tournament.endOfRegistration}}</td>
    <td>{{tournament.count}} / 16</td>
    <td><button pButton type="button" icon="pi pi-info" routerLink="/tournament/details/{{tournament.id}}" label="Détail"></button></td>
    <td><button pButton type="button" icon="pi pi-trash" (click)="deleteTournois(tournament.id)" label="Supprimer"></button></td>
    <td *ngIf="!tournament.isRegistered"><button pButton type="button" icon="pi pi-trash" (click)="tournamentInscription(tournament.id)" label="S'inscrire"></button></td>
    <td *ngIf="tournament.isRegistered" ><button pButton type="button" icon="pi pi-trash" (click)="tournamentUnsub(tournament.id)" label="Se désinscrire"></button></td>
  </tr>
  </tbody>
</table>
